## Cyclistic Dataset with SQL (MYSQL)

### Merging and cleaning data

#### Problem: Cyclisticâ€™s marketing strategy still relied on building general awareness and appealing to broad consumer segments.

#### Solution: Help Cyclisticâ€™s marketing strategy to target on particular customers that will convert casual riders to member riders.

#### Analytics goal:
HOW member and casual riders use Cyclistic bikes differently?

WHY would casual riders buy Cyclistic annual memberships?

HOW can Cyclistic use digital media to influence casual riders to become members?

In [29]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in g:\anaconda\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in g:\anaconda\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [34]:
def create_server_connection(host_name, user_name, user_password):
#the function (create_server_connection) and the arguments (host_name, user_name and user_password).
    connection = None
    
    #try-except block to handle any potential errors
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [36]:
connection = create_server_connection("localhost", "root", "M2y7_0695")

MySQL Database connection successful

In [37]:
def create_database(connection, query):
#takes two arguments, connection (our connection object) and query (a SQL query which we will write in the next step)
    cursor = connection.cursor()
    #to create a cursor object 
    #(MySQL Connector uses an object-oriented programming paradigm, so there are lots of objects inheriting properties from parent objects)
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [38]:
create_database_query = "CREATE DATABASE bike"
create_database(connection, create_database_query)

Database created successfully

In [46]:
#to have multiple databases on one MySQL
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [47]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
        
# the connection.commit() method to make sure that the commands detailed in our SQL queries are implemented

In [52]:
create_april2020_table = """
CREATE TABLE april_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));

 """

connection = create_db_connection("localhost", "root", "M2y7_0695", "bike") # Connect to the Database
execute_query(connection, create_april2020_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [64]:
#until feb 2021

create_may2020_table = """
CREATE TABLE may_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
 """

create_june2020_table = """
CREATE TABLE june_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

create_july2020_table = """
CREATE TABLE july_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

create_august2020_table = """
CREATE TABLE august_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

create_september2020_table = """
CREATE TABLE september_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

create_october2020_table = """
CREATE TABLE october_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""


create_november2020_table = """
CREATE TABLE november_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

create_december2020_table = """
CREATE TABLE december_2020 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

create_january2021_table = """
CREATE TABLE january_2021 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

create_february2021_table = """
CREATE TABLE february_2021 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

create_march2021_table = """
CREATE TABLE march_2021 (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

connection = create_db_connection("localhost", "root", "M2y7_0695", "bike")
execute_query(connection, create_may2020_table)
execute_query(connection, create_june2020_table)
execute_query(connection, create_july2020_table)
execute_query(connection, create_august2020_table)
execute_query(connection, create_september2020_table)
execute_query(connection, create_october2020_table)
execute_query(connection, create_november2020_table)
execute_query(connection, create_december2020_table)
execute_query(connection, create_january2021_table)
execute_query(connection, create_february2021_table)
execute_query(connection, create_march2021_table)

MySQL Database connection successful
Error: '1050 (42S01): Table 'may_2020' already exists'
Error: '1050 (42S01): Table 'june_2020' already exists'
Error: '1050 (42S01): Table 'july_2020' already exists'
Error: '1050 (42S01): Table 'august_2020' already exists'
Error: '1050 (42S01): Table 'september_2020' already exists'
Error: '1050 (42S01): Table 'october_2020' already exists'
Error: '1050 (42S01): Table 'november_2020' already exists'
Error: '1050 (42S01): Table 'december_2020' already exists'
Error: '1050 (42S01): Table 'january_2021' already exists'
Error: '1050 (42S01): Table 'february_2021' already exists'
Query successful

In [65]:
##create trip data table to merge all months table

create_trip_data_table = """
CREATE TABLE trip_data (
    ride_id varchar(255),
    rideable_type varchar(255),
    started_at datetime,
    ended_at datetime,
    ride_length time,
    day_of_week int,
    start_station_name varchar(255),
    start_station_id double,
    end_station_name varchar(255),
    end_station_id double,
    start_lat float,
    start_lng float,
    end_lat float,
    end_lng float,
    member_casual varchar(255));
"""

connection = create_db_connection("localhost", "root", "M2y7_0695", "bike")
execute_query(connection, create_trip_data_table)

MySQL Database connection successful
Error: '1050 (42S01): Table 'trip_data' already exists'

In [66]:
#merge all months table into trip data table    


merge = """
INSERT INTO trip_data
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM april_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM may_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM june_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM july_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM august_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM september_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM october_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM november_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM december_2020
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM january_2021
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM february_2021
UNION
SELECT
    ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week, start_station_name,
    start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng,
    member_casual
FROM march_2021;
"""

connection = create_db_connection("localhost", "root", "M2y7_0695", "bike")
execute_query(connection, merge)

MySQL Database connection successful
Query successful

In [67]:
# calculate average of ride_length

average_ride_length = """
SELECT 
    SEC_TO_TIME(AVG(TIME_TO_SEC (ride_length))) AS avg_rides
FROM trip_data;
"""
connection = create_db_connection("localhost", "root", "M2y7_0695", "bike")
execute_query(connection, average_ride_length)

MySQL Database connection successful
Error: 'Unread result found'

In [ ]:
-- average ride_length by member_casual
SELECT
	member_casual, SEC_TO_TIME(AVG(TIME_TO_SEC(ride_length))) AS avg_member
FROM trip_data
GROUP BY member_casual

In [ ]:
-- average ride_length by day_of_week by member_casual
SELECT 
	SEC_TO_TIME(AVG(TIME_TO_SEC(ride_length))) AS avg_time, day_of_week
FROM trip_data
GROUP BY day_of_week
HAVING day_of_week > 0

In [ ]:
-- number of rides by day_of_week
SELECT 
	COUNT(DISTINCT ride_id) AS num_of_rides, day_of_week
FROM trip_data
GROUP BY day_of_week
HAVING day_of_week > 0

In [ ]:
-- number of rides by rideable_type
SELECT
	COUNT(DISTINCT ride_id), rideable_type
FROM trip_data
GROUP BY rideable_type

In [ ]:
-- number of rides of members by month
SELECT
	COUNT(DISTINCT ride_id), member_casual, MONTH(started_at) AS ride_month
FROM trip_data
WHERE member_casual LIKE 'member%'
GROUP BY ride_month

In [ ]:
-- number of rides of casuals by month
SELECT
	COUNT(DISTINCT ride_id), member_casual, MONTH(started_at) AS ride_month
FROM trip_data
WHERE member_casual LIKE 'casual%'
GROUP BY ride_month

In [ ]:
-- total number of rides by months
SELECT
	COUNT(DISTINCT ride_id), MONTH(started_at) AS ride_month
FROM trip_data
GROUP BY ride_month
HAVING ride_month > 0

In [ ]:
-- ride length according to part of the day
SELECT
	SEC_TO_TIME(AVG(TIME_TO_SEC(ride_length))) as avg_rides, 
    (CASE 
    WHEN TIME(started_at) >= '05:00:00' and TIME(started_at) < '12:00:00' THEN 'Morning'
    WHEN TIME(started_at) >= '12:00:00' and TIME(started_at) < '17:00:00' THEN 'Afternoon'
    WHEN TIME(started_at) >= '17:00:00' and TIME(started_at) < '20:00:00' THEN 'Evening'
    ELSE 'Night'
    END) AS part_of_day
FROM trip_data
GROUP BY part_of_day

In [ ]:
-- day_of_week by part of day
SELECT
	COUNT(day_of_week) AS num_of_rides,
    (CASE 
    WHEN TIME(started_at) >= '05:00:00' and TIME(started_at) < '12:00:00' THEN 'Morning'
    WHEN TIME(started_at) >= '12:00:00' and TIME(started_at) < '17:00:00' THEN 'Afternoon'
    WHEN TIME(started_at) >= '17:00:00' and TIME(started_at) < '20:00:00' THEN 'Evening'
    ELSE 'Night'
    END) AS part_of_day
FROM trip_data
GROUP BY part_of_day

In [ ]:
-- casual riders by station name
SELECT
	COUNT(start_station_name) AS num_start_station,
    COUNT(end_station_name) AS num_end_station,
    member_casual, start_station_name
FROM trip_data
WHERE member_casual LIKE 'casual%' and start_station_name IS NOT NULL
GROUP BY start_station_name
ORDER BY num_start_station DESC, num_end_station DESC
LIMIT 10

In [ ]:
-- member riders by station name
SELECT
	COUNT(start_station_name) AS num_start_station,
    COUNT(end_station_name) AS num_end_station,
    member_casual, start_station_name
FROM trip_data
WHERE member_casual LIKE 'member%' and start_station_name IS NOT NULL
GROUP BY start_station_name
ORDER BY num_start_station DESC, num_end_station DESC
LIMIT 10

In [ ]:
SET SQL_SAFE_UPDATES = 0;

-- saving to csv format
SELECT 'ride_id', 'rideable_type', 'started_at', 'ended_at', 'ride_length', 'day_of_week',
'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 
'start_lng', 'end_lat', 'end_lng', 'member_casual'
UNION ALL
SELECT ride_id, rideable_type, started_at, ended_at, ride_length, day_of_week,
start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng,
end_lat, end_lng, member_casual
	FROM trip_data
	INTO OUTFILE 'C:/Users/Agnes Chintia Dewi/Downloads/cyclist/zip/trip_data.csv'
	FIELDS TERMINATED BY ';'
	ENCLOSED BY '"'
	LINES TERMINATED BY '\n'